<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">

			<div class="measure-narrow center mb4">
				<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
				<p>{{ .Site.Data.footer.blurb }}</p>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Get in touch</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://roundtable.co.uk" "svg" "icons-roundtable" "alt" "Round Table International") }}
					{{ partial "social-icon" (dict "link" "https://facebook.com/ThameDistrictRoundTable753" "svg" "icons-facebook" "alt" "Facebook") }}
					{{ partial "social-icon" (dict "link" "https://instagram.com/thameroundtable_" "svg" "icons-instagram" "alt" "Instagram") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/Thame753" "svg" "icons-twitter" "alt" "Twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

